#book{
    display: flex;
    border-bottom: 1px solid gray;
}

.left-side {
    flex: .5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-side {
    flex-direction: column;
    flex: 1;
}

img {
    max-height: 150px;
}